:root {
  --content-width: 70%;
}

.full-width-page {
  .theme-default-content {
    max-width: 100% !important;
    padding: 0 !important;
  }

  /* Also remove padding from the page container if necessary */
  .page {
    padding-bottom: 0 !important;
  }
}

.custom-home-page {
  .theme-default-content, .vp-doc, [vp-content] {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .page, .vp-page {
    padding-bottom: 0 !important;
  }
  .vp-page-meta, .vp-page-nav, .page-meta, .page-nav {
    display: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}