:root {
  --content-width: 70%;
}

.full-width-page {
  .theme-default-content {
    max-width: 100% !important;
    padding: 0 !important;
  }

  /* Also remove padding from the page container if necessary */
  .page {
    padding-bottom: 0 !important;
  }
}

.custom-home-page {
  .theme-default-content {
    max-width: 100% !important;
    padding: 0 !important;
  }
  .page {
    padding-bottom: 0 !important;
  }
}