name: Sync CS-552 Course Homepage

on:
  schedule:
    - cron: '17,47 * * * *'
  workflow_dispatch:

jobs:
  sync_course_content:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fetch CS-552 README
        run: |
          echo "---" > docs/courses/nlp/course-homepage.md
          echo "author: GitHub Actions" >> docs/courses/nlp/course-homepage.md
          echo "contributors: false" >> docs/courses/nlp/course-homepage.md
          echo "---" >> docs/courses/nlp/course-homepage.md
          echo "" >> docs/courses/nlp/course-homepage.md
          curl -s -L "https://raw.githubusercontent.com/epfl-nlp/cs-552-modern-nlp/main/README.md" | sed 's/^# CS-552: Modern Natural Language Processing/# Course Homepage/' >> docs/courses/nlp/course-homepage.md

      - name: Check for changes and commit
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add docs/courses/nlp/course-homepage.md
          if git diff --staged --quiet; then
            echo "No changes in CS-552 course homepage."
          else
            git commit -m "chore(sync): update CS-552 course homepage"
            git push
            echo "Changes pushed successfully."
          fi
